.vc-select {
  position: relative;
  & select {
    flex-grow: 1;
    display: block;
    appearance: none;
    width: 52px;
    height: 30px;
    font-size: var(--text-base);
    font-weight: var(--font-medium);
    text-align: left;
    color: var(--vc-select-color);
    background-color: var(--vc-select-bg);
    border: 2px solid;
    border-color: var(--vc-select-border);
    padding: 0 20px 0 8px;
    border-radius: var(--rounded);
    line-height: var(--leading-tight);
    text-indent: 0px;
    cursor: pointer;
    -moz-padding-start: 3px;
    background-image: none;
    &:hover {
      color: var(--vc-select-hover-color);
    }
    &:focus {
      outline: 0;
      border-color: var(--vc-select-focus-border);
      background-color: var(--vc-select-focus-bg);
    }
  }
}
.vc-select-arrow {
  display: flex;
  align-items: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 4px 0 0;
  color: var(--gray-500);
  & svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}
