.vc-time-select {
  position: relative;
  & select {
    flex-grow: 1;
    display: block;
    appearance: none;
    height: 28px;
    font-size: var(--vc-text-base);
    font-weight: var(--vc-font-medium);
    text-align: center;
    color: var(--vc-time-select-color);
    background-color: var(--vc-time-select-bg);
    padding: 0px 4px;
    margin: 0;
    border-radius: var(--vc-rounded);
    line-height: var(--leading-none);
    text-indent: 0px;
    cursor: pointer;
    background-image: none;
    &:hover {
      color: var(--vc-time-select-hover-color);
    }
    &:focus {
      outline: 0;
      color: var(--vc-time-select-focus-color);
      border-color: var(--vc-time-select-focus-border);
      background-color: var(--vc-time-select-focus-bg);
    }
  }
}
