@import './nr-doc.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-bg: theme(colors.white);
  --vp-c-bg-soft: theme(colors.gray.100);
  --vp-c-bg-mute: theme(colors.gray.200);
  --vp-c-bg-alt: theme(colors.gray.50);

  --vp-c-divider: theme(colors.gray.300);
  --vp-c-divider-light: theme(colors.gray.200);

  --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);

  --vp-c-gutter: theme(colors.gray.200);

  --vp-c-text-light-1: theme(colors.gray.800);
  --vp-c-text-light-2: theme(colors.gray.600);
  --vp-c-text-light-3: theme(colors.gray.500);
  --vp-c-text-light-4: theme(colors.gray.400);

  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);
  --vp-c-text-4: var(--vp-c-text-light-4);

  --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
  --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
  --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
  --vp-c-text-inverse-4: var(--vp-c-text-dark-4);

  --vp-c-text-code: var(--vp-c-indigo-soft);

  --vp-c-brand: theme(colors.accent.600);
  --vp-c-brand-light: theme(colors.accent.300);
  --vp-c-brand-lighter: theme(colors.accent.100);
  --vp-c-brand-dark: theme(colors.accent.700);
  --vp-c-brand-darker: theme(colors.accent.900);

  --vp-code-font-size: theme(fontSize.base)
  --vp-code-tab-bg: theme(colors.gray.900);
  --vp-code-tab-divider: theme(colors.gray.700);
  --vp-code-block-bg: theme(colors.gray.900);
  --vp-c-switch-bg: theme(colors.gray.300);
  --vp-c-switch-border: theme(colors.gray.400);
  --vp-c-switch-grabber-bg: theme(colors.white);

  font-family: @apply font-sans;
  .title {
    @apply font-display;
  }
}

.dark {
  --vp-c-black: theme(colors.gray.900);
  --vp-c-bg: theme(colors.gray.800);
  --vp-c-bg-soft: theme(colors.gray.900);
  --vp-c-bg-mute: theme(colors.gray.700);
  --vp-c-bg-alt: theme(colors.gray.900);

  --vp-c-divider: theme(colors.gray.500);
  --vp-c-divider-light: theme(colors.gray.600);

  --vp-c-divider-inverse: var(--vp-c-divider-light-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);

  --vp-c-gutter: theme(colors.gray.700);

  --vp-c-text-dark-1: theme(colors.gray.100);
  --vp-c-text-dark-2: theme(colors.gray.300);
  --vp-c-text-dark-3: theme(colors.gray.400);
  --vp-c-text-dark-4: theme(colors.gray.500);

  --vp-c-text-1: var(--vp-c-text-dark-1);
  --vp-c-text-2: var(--vp-c-text-dark-2);
  --vp-c-text-3: var(--vp-c-text-dark-3);
  --vp-c-text-4: var(--vp-c-text-dark-4);

  --vp-c-text-inverse-1: var(--vp-c-text-light-1);
  --vp-c-text-inverse-2: var(--vp-c-text-light-2);
  --vp-c-text-inverse-3: var(--vp-c-text-light-3);
  --vp-c-text-inverse-4: var(--vp-c-text-light-4);

  --vp-c-text-code: var(--vp-c-indigo-lighter);

  --vp-c-brand: theme(colors.accent.400);
  --vp-c-brand-light: theme(colors.accent.300);
  --vp-c-brand-lighter: theme(colors.accent.100);
  --vp-c-brand-dark: theme(colors.accent.700);
  --vp-c-brand-darker: theme(colors.accent.900);

  --vp-code-tab-bg: theme(colors.gray.900);
  --vp-code-tab-divider: theme(colors.gray.700);
  --vp-code-block-bg: theme(colors.gray.900);
  --vp-c-switch-bg: theme(colors.black);
  --vp-c-switch-border: theme(colors.gray.600);
  --vp-c-switch-grabber-bg: theme(colors.gray.500);
  --vp-c-bg-elv: theme(colors.gray.900);
}

@media (min-width: 960px) {
  .VPNavBar.fill {
    border-bottom-color: var(--vp-c-divider) !important;
  }
  .VPNavBar.has-sidebar .curtain::before {
    display: none !important;
  }
}

.VPSwitch {
  background-color: var(--vp-c-switch-bg) !important;
  border: 1px solid var(--vp-c-switch-border) !important;
  .check {
    background-color: var(--vp-c-switch-grabber-bg) !important;
  }
}

input,
button {
  border-style: solid;
}
