.vc-time-picker {
  display: flex;
  align-items: center;
  padding: 8px;
  &.vc-invalid {
    pointer-events: none;
    opacity: 0.5;
  }
  &.vc-bordered {
    border-top: 1px solid var(--vc-time-picker-border);
  }
}

.vc-time-icon {
  width: 16px;
  height: 16px;
  color: var(--vc-time-icon-color);
}

.vc-time-content {
  margin-left: 8px;
}

.vc-time-date {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  padding: 0 0 4px 4px;
  margin-top: -4px;
  line-height: 21px;
}

.vc-time-weekday {
  color: var(--vc-time-weekday-color);
  letter-spacing: var(--tracking-wide);
}

.vc-time-month {
  color: var(--vc-time-month-color);
  margin-left: 8px;
}

.vc-time-day {
  color: var(--vc-time-day-color);
  margin-left: 4px;
}

.vc-time-year {
  color: var(--vc-time-year-color);
  margin-left: 8px;
}

.vc-time-select {
  display: flex;
  align-items: center;
}

.vc-am-pm {
  display: flex;
  align-items: center;
  color: var(--vc-am-pm-color);
  background: var(--vc-am-pm-bg);
  margin-left: 8px;
  padding: 4px;
  border-radius: var(--rounded);
  height: 30px;
  & button {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    padding: 0 4px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: var(--rounded);
    line-height: var(--leading-snug);
    &:hover {
      color: var(--vc-am-pm-button-hover-color);
    }
    &:focus {
      border-color: var(--vc-am-pm-focus-border);
    }
    &:disabled {
      opacity: 0.25;
      pointer-events: none;
    }
    &.active {
      color: var(--vc-am-pm-button-active-color);
      background: var(--vc-am-pm-button-active-bg);
      &:hover {
        background: var(--vc-am-pm-button-active-hover-bg);
      }
      &:focus {
        border-color: var(--vc-am-pm-button-active-focus-border);
      }
    }
  }
}
