.vc-nav-header {
  display: flex;
  justify-content: space-between;
}

.vc-nav-title,
.vc-nav-arrow,
.vc-nav-item {
  &:hover {
    background-color: var(--vc-nav-hover-bg);
  }
  &:focus {
    border-color: var(--vc-nav-focus-border);
    outline: none;
  }
  &.vc-disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

.vc-nav-title {
  color: var(--vc-nav-title-color);
  font-weight: var(--vc-font-bold);
  line-height: var(--vc-leading-snug);
  padding: 4px 8px;
  border-radius: var(--vc-rounded);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  user-select: none;
}

.vc-nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  line-height: var(--vc-leading-snug);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--vc-rounded);
  &.is-left {
    margin-right: auto;
  }
  &.is-right {
    margin-left: auto;
  }
}

.vc-nav-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 5px;
}

.vc-nav-item {
  width: 48px;
  text-align: center;
  line-height: var(--vc-leading-snug);
  font-weight: var(--vc-font-semibold);
  padding: 4px 0;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--vc-rounded);
  user-select: none;
  &.is-active {
    color: var(--vc-nav-item-active-color);
    background-color: var(--vc-nav-item-active-bg);
    box-shadow: var(--vc-nav-item-active-box-shadow);
    font-weight: var(--vc-font-bold);
  }
  &.is-current {
    color: var(--vc-nav-item-current-color);
    font-weight: var(--bold);
  }
}
