// See Buefy customization docs for more: https://buefy.github.io/#/documentation/customization

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #65999a;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$accent-red: #ff6666;
$accent-orange: #ff8c66;
$accent-blue: #4099FF;
$accent-green: #42ffd0;
$accent-purple: #7142ff;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$navbar-background-color: $primary;
$navbar-item-color: #fafafa;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Import highlight.js style
@import "~highlight.js/styles/atelier-cave-light.css";

.logo {
    font-family: 'Bree Serif', serif;
}

.title {
    font-family: 'Bree Serif', sans-serif;
}

.logo-subtitle {
    font-weight: 300;
    font-style: italic;
}

.example-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

figure.offset {
    margin: 20px 0px 10px 20px;
}

pre {
    padding: 0;
    @include tablet {
        white-space: pre-wrap
    }
}

code {
    max-height: 400px;
    &.hljs {
        background: inherit;
        color: inherit;
        padding: 1.25rem 1.5rem;
    }
}
