$contentClass = content__default

// colors
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #2D3748
$codeInlineBgColor = #EDF2F7
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961