$wrapper
  max-width $contentWidth
  margin 0 auto
  // padding 2rem 2.5rem
  padding 2rem 1rem
  @media (max-width: $MQNarrow)
    padding 1rem 0rem
  @media (max-width: $MQMobileNarrow)
    padding 1rem 0rem

