{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false
}
