.vc-none-enter-active,
.vc-none-leave-active {
  transition-duration: 0s;
}

.vc-fade-enter-active,
.vc-fade-leave-active,
.vc-slide-left-enter-active,
.vc-slide-left-leave-active,
.vc-slide-right-enter-active,
.vc-slide-right-leave-active,
.vc-slide-up-enter-active,
.vc-slide-up-leave-active,
.vc-slide-down-enter-active,
.vc-slide-down-leave-active,
.vc-slide-fade-enter-active,
.vc-slide-fade-leave-active {
  transition: transform var(--slide-duration) var(--slide-timing),
    opacity var(--slide-duration) var(--slide-timing);
  backface-visibility: hidden;
  pointer-events: none;
}

.vc-none-leave-active,
.vc-fade-leave-active,
.vc-slide-left-leave-active,
.vc-slide-right-leave-active,
.vc-slide-up-leave-active,
.vc-slide-down-leave-active {
  position: absolute !important;
  width: 100%;
}

.vc-none-enter-from,
.vc-none-leave-to,
.vc-fade-enter-from,
.vc-fade-leave-to,
.vc-slide-left-enter-from,
.vc-slide-left-leave-to,
.vc-slide-right-enter-from,
.vc-slide-right-leave-to,
.vc-slide-up-enter-from,
.vc-slide-up-leave-to,
.vc-slide-down-enter-from,
.vc-slide-down-leave-to,
.vc-slide-fade-enter-from,
.vc-slide-fade-leave-to {
  opacity: 0;
}

.vc-slide-left-enter-from,
.vc-slide-right-leave-to,
.vc-slide-fade-enter-from.direction-left,
.vc-slide-fade-leave-to.direction-left {
  transform: translateX(var(--slide-translate));
}

.vc-slide-right-enter-from,
.vc-slide-left-leave-to,
.vc-slide-fade-enter-from.direction-right,
.vc-slide-fade-leave-to.direction-right {
  transform: translateX(calc(-1 * var(--slide-translate)));
}

.vc-slide-up-enter-from,
.vc-slide-down-leave-to,
.vc-slide-fade-enter-from.direction-top,
.vc-slide-fade-leave-to.direction-top {
  transform: translateY(var(--slide-translate));
}

.vc-slide-down-enter-from,
.vc-slide-up-leave-to,
.vc-slide-fade-enter-from.direction-bottom,
.vc-slide-fade-leave-to.direction-bottom {
  transform: translateY(calc(-1 * var(--slide-translate)));
}
