.vc-pane {
  min-width: 250px;
}

.vc-weeknumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  &.is-left,
  &.is-left-outside {
    left: calc(var(--weeknumber-offset) * -1);
  }
  &.is-right,
  &.is-right-outside {
    right: calc(var(--weeknumber-offset) * -1);
  }
}

.vc-weeknumber-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  font-style: italic;
  width: 28px;
  height: 28px;
  margin-top: 2px;
  color: var(--gray-500);
  user-select: none;
}

.vc-weeks {
  position: relative;
  /* overflow: auto; */
  -webkit-overflow-scrolling: touch;
  padding: 6px;
  min-width: 232px;
  &.vc-show-weeknumbers-left {
    margin-left: var(--weeknumber-offset);
  }
  &.vc-show-weeknumbers-right {
    margin-right: var(--weeknumber-offset);
  }
}

.vc-weekday {
  text-align: center;
  color: var(--vc-weekday-color);
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  line-height: 14px;
  padding-top: 4px;
  padding-bottom: 8px;
  cursor: default;
  user-select: none;
}

.vc-week,
.vc-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}
