/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

.distributed {
  @apply my-8 flex justify-around items-start;
}

.example {
  @apply my-8 p-8 flex flex-col items-center justify-center bg-gray-100 border-t border-b;
}

input[type='text'] {
  @apply w-full shadow appearance-none border rounded py-2 px-3 text-gray-700;
}

.homepage .home {
  max-width: initial;
  padding: 3.6rem 0 2rem 0;
}
.homepage .hero {
  @apply px-4;
}
.homepage .hero .img {
  max-height: 240px;
}

.section {
  @apply max-w-2xl mx-auto px-4 my-10;
}

.h2 {
  @apply text-2xl text-gray-800 border-none p-0 mb-4;
}
.h3 {
  @apply text-lg text-gray-700 font-medium mb-3;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

p {
  margin: 1rem 0;
  line-height: 1.7rem;
}
