@import './transitions.css';
@import '../components/Calendar/calendar.css';
@import '../components/CalendarDay/calendar-day.css';
@import '../components/CalendarNav/calendar-nav.css';
@import '../components/CalendarPane/calendar-pane.css';
@import '../components/Popover/popover.css';
@import '../components/PopoverRow/popover-row.css';
@import '../components/SvgIcon/svg-icon.css';
@import '../components/TimePicker/time-picker.css';
@import '../components/TimeSelect/time-select.css';
@import './theme.css';

.vc-container {
  position: relative;
  display: inline-flex;
  width: max-content;
  height: max-content;
  font-family: var(--vc-font-family);
  color: var(--vc-color);
  background-color: var(--vc-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  &,
  & * {
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  & button,
  & [role='button'] {
    cursor: pointer;
  }
  &.vc-bordered {
    border: 1px solid;
    border-color: var(--vc-border);
    border-radius: var(--vc-rounded-lg);
  }
  &.vc-expanded {
    min-width: 100%;
  }
  /* Hides double border within popovers */
  & .vc-container {
    border: none;
  }
}
