
$blue-d5: hsl(205, 100%, 21%)
$blue-d4: hsl(205, 87%, 29%)
$blue-d3: hsl(205, 82%, 33%)
$blue-d2: hsl(205, 82%, 33%)
$blue-d1: hsl(205, 67%, 45%)
$blue-l1: hsl(205, 65%, 55%)
$blue-l2: hsl(205, 74%, 65%)
$blue-l3: hsl(205, 84%, 74%)
$blue-l4: hsl(205, 97%, 85%)
$blue-l5: hsl(205, 79%, 92%)

.bg-blue-d5
  background-color: $blue-d5

.bg-blue-d4
  background-color: $blue-d4

.bg-blue-d3
  background-color: $blue-d3

.bg-blue-d2
  background-color: $blue-d2

.bg-blue-d1
  background-color: $blue-d1

.bg-blue-l1
  background-color: $blue-l1

.bg-blue-l2
  background-color: $blue-l2

.bg-blue-l3
  background-color: $blue-l3

.bg-blue-l4
  background-color: $blue-l4

.bg-blue-l5
  background-color: $blue-l5

.vc-highlight
  width: 1.8rem
  height: 1.8rem
  border-radius: 50%
  &.vc-highlight-start
    width: 95%
    border-radius: 290486px 0 0 290486px
  &.vc-highlight-end
    width: 95%
    border-radius: 0 290486px 290486px 0
  &.vc-highlight-start.vc-highlight-end
    border-radius: 290486px
  &.vc-highlight-middle
    width: 100%
    border-radius: 0
  &.vc-highlight-drag
    height: 1.75rem

.vc-highlight-start, .vc-highlight-end
  &.vc-blue
    background-color: $blue-d1
.vc-highlight-middle
  &.vc-blue
    background-color: $blue-l5
.vc-highlight-content-start, .vc-highlight-content-end
  color: $white