$white: hsl(0, 0, 100%)
$black: hsl(208, 16%, 16%)

$darkGreys: hsl(211, 12%, 43%) hsl(209, 14%, 37%) hsl(209, 18%, 30%) hsl(209, 20%, 25%) hsl(210, 24%, 16%)
$lightGreys: hsl(211, 10%, 53%) hsl(211, 13%, 65%) hsl(210, 16%, 82%) hsl(214, 15%, 91%) hsl(216, 33%, 97%)

$darkBlues: hsl(205, 67%, 45%) hsl(205, 76%, 39%) hsl(205, 82%, 33%) hsl(205, 87%, 29%) hsl(205, 100%, 21%)
$lightBlues: hsl(205, 65%, 55%) hsl(205, 74%, 65%) hsl(205, 84%, 74%) hsl(205, 97%, 85%) hsl(205, 79%, 92%)

$darkReds: hsl(356, 75%, 53%) hsl(354, 85%, 44%) hsl(352, 90%, 35%) hsl(350, 94%, 28%) hsl(348, 94%, 20%)
$lightReds: hsl(360, 83%, 62%) hsl(360, 91%, 69%) hsl(360, 100%, 80%) hsl(360, 100%, 87%) hsl(360, 100%, 95%)

@each $grey in $darkGreys
  $i: index($darkGreys, $grey)
  .bg-grey-d#{$i}
    background-color: $grey
  .text-grey-d#{$i}
    color: $grey

@each $grey in $lightGreys
  $i: index($lightGreys, $grey)
  .bg-grey-l#{$i}
    background-color: $grey
  .text-grey-l#{$i}
    color: $grey

@each $blue in $darkBlues
  $i: index($darkBlues, $blue)
  .bg-blue-d#{$i}
    background-color: $blue
  .text-blue-d#{$i}
    color: $blue

@each $blue in $lightBlues
  $i: index($lightBlues, $blue)
  .bg-blue-l#{$i}
    background-color: $blue
  .text-blue-l#{$i}
    color: $blue

@each $red in $darkReds
  $i: index($darkReds, $red)
  .bg-red-d#{$i}
    background-color: $red
  .text-red-d#{$i}
    color: $red

@each $red in $lightReds
  $i: index($lightReds, $red)
  .bg-red-l#{$i}
    background-color: $red
  .text-red-l#{$i}
    color: $red

.text-white
  color: $white

.text-black
  color: $black

.vc-highlight
  width: 1.8rem
  height: 1.8rem
  border-radius: 50%
  &.vc-highlight-start
    width: 50%
    border-radius: 0
  &.vc-highlight-end
    width: 50%
    border-radius: 0
  &.vc-highlight-middle
    width: 100%
    border-radius: 0
  &.vc-highlight-drag
    height: 1.75rem