.vc-theme {
  --white: #ffffff;
  --black: #000000;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  --green-100: #f0fff4;
  --green-200: #c6f6d5;
  --green-300: #9ae6b4;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-600: #38a169;
  --green-700: #2f855a;
  --green-800: #276749;
  --green-900: #22543d;

  --teal-100: #e6fffa;
  --teal-200: #b2f5ea;
  --teal-300: #81e6d9;
  --teal-400: #4fd1c5;
  --teal-500: #38b2ac;
  --teal-600: #319795;
  --teal-700: #2c7a7b;
  --teal-800: #285e61;
  --teal-900: #234e52;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --indigo-100: #ebf4ff;
  --indigo-200: #c3dafe;
  --indigo-300: #a3bffa;
  --indigo-400: #7f9cf5;
  --indigo-500: #667eea;
  --indigo-600: #5a67d8;
  --indigo-700: #4c51bf;
  --indigo-800: #434190;
  --indigo-900: #3c366b;

  --purple-100: #faf5ff;
  --purple-200: #e9d8fd;
  --purple-300: #d6bcfa;
  --purple-400: #b794f4;
  --purple-500: #9f7aea;
  --purple-600: #805ad5;
  --purple-700: #6b46c1;
  --purple-800: #553c9a;
  --purple-900: #44337a;

  --pink-100: #fff5f7;
  --pink-200: #fed7e2;
  --pink-300: #fbb6ce;
  --pink-400: #f687b3;
  --pink-500: #ed64a6;
  --pink-600: #d53f8c;
  --pink-700: #b83280;
  --pink-800: #97266d;
  --pink-900: #702459;

  --font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --text-2xs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;

  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;

  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-full: 9999px;

  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  --slide-translate: 22px;
  --slide-duration: 0.15s;
  --slide-timing: ease;

  --day-content-transition-time: 0.13s ease-in;
  --weeknumber-offset: 26px;
}

.vc-gray {
  --accent-50: var(--gray-50);
  --accent-100: var(--gray-100);
  --accent-200: var(--gray-200);
  --accent-300: var(--gray-300);
  --accent-400: var(--gray-400);
  --accent-500: var(--gray-500);
  --accent-600: var(--gray-600);
  --accent-700: var(--gray-700);
  --accent-800: var(--gray-800);
  --accent-900: var(--gray-900);
}

.vc-red {
  --accent-50: var(--red-50);
  --accent-100: var(--red-100);
  --accent-200: var(--red-200);
  --accent-300: var(--red-300);
  --accent-400: var(--red-400);
  --accent-500: var(--red-500);
  --accent-600: var(--red-600);
  --accent-700: var(--red-700);
  --accent-800: var(--red-800);
  --accent-900: var(--red-900);
}

.vc-orange {
  --accent-50: var(--orange-50);
  --accent-100: var(--orange-100);
  --accent-200: var(--orange-200);
  --accent-300: var(--orange-300);
  --accent-400: var(--orange-400);
  --accent-500: var(--orange-500);
  --accent-600: var(--orange-600);
  --accent-700: var(--orange-700);
  --accent-800: var(--orange-800);
  --accent-900: var(--orange-900);
}

.vc-yellow {
  --accent-50: var(--yellow-50);
  --accent-100: var(--yellow-100);
  --accent-200: var(--yellow-200);
  --accent-300: var(--yellow-300);
  --accent-400: var(--yellow-400);
  --accent-500: var(--yellow-500);
  --accent-600: var(--yellow-600);
  --accent-700: var(--yellow-700);
  --accent-800: var(--yellow-800);
  --accent-900: var(--yellow-900);
}

.vc-green {
  --accent-50: var(--green-50);
  --accent-100: var(--green-100);
  --accent-200: var(--green-200);
  --accent-300: var(--green-300);
  --accent-400: var(--green-400);
  --accent-500: var(--green-500);
  --accent-600: var(--green-600);
  --accent-700: var(--green-700);
  --accent-800: var(--green-800);
  --accent-900: var(--green-900);
}

.vc-teal {
  --accent-50: var(--teal-50);
  --accent-100: var(--teal-100);
  --accent-200: var(--teal-200);
  --accent-300: var(--teal-300);
  --accent-400: var(--teal-400);
  --accent-500: var(--teal-500);
  --accent-600: var(--teal-600);
  --accent-700: var(--teal-700);
  --accent-800: var(--teal-800);
  --accent-900: var(--teal-900);
}

.vc-blue {
  --accent-50: var(--blue-50);
  --accent-100: var(--blue-100);
  --accent-200: var(--blue-200);
  --accent-300: var(--blue-300);
  --accent-400: var(--blue-400);
  --accent-500: var(--blue-500);
  --accent-600: var(--blue-600);
  --accent-700: var(--blue-700);
  --accent-800: var(--blue-800);
  --accent-900: var(--blue-900);
}

.vc-indigo {
  --accent-50: var(--indigo-50);
  --accent-100: var(--indigo-100);
  --accent-200: var(--indigo-200);
  --accent-300: var(--indigo-300);
  --accent-400: var(--indigo-400);
  --accent-500: var(--indigo-500);
  --accent-600: var(--indigo-600);
  --accent-700: var(--indigo-700);
  --accent-800: var(--indigo-800);
  --accent-900: var(--indigo-900);
}

.vc-purple {
  --accent-50: var(--purple-50);
  --accent-100: var(--purple-100);
  --accent-200: var(--purple-200);
  --accent-300: var(--purple-300);
  --accent-400: var(--purple-400);
  --accent-500: var(--purple-500);
  --accent-600: var(--purple-600);
  --accent-700: var(--purple-700);
  --accent-800: var(--purple-800);
  --accent-900: var(--purple-900);
}

.vc-pink {
  --accent-50: var(--pink-50);
  --accent-100: var(--pink-100);
  --accent-200: var(--pink-200);
  --accent-300: var(--pink-300);
  --accent-400: var(--pink-400);
  --accent-500: var(--pink-500);
  --accent-600: var(--pink-600);
  --accent-700: var(--pink-700);
  --accent-800: var(--pink-800);
  --accent-900: var(--pink-900);
}

.vc-light {
  &.vc-theme,
  & .vc-theme {
    /* Base */
    --vc-color: var(--gray-900);
    --vc-bg: var(--white);
    --vc-border: var(--gray-300);
    /* Calendar header */
    --vc-header-arrow-color: var(--gray-600);
    --vc-header-arrow-hover-bg: var(--gray-200);
    --vc-header-arrow-focus-border: var(--gray-300);
    --vc-header-title-color: var(--gray-900);
    /* Calendar weekdays */
    --vc-weekday-color: var(--gray-500);
    /* Calendar day & attributes */
    --vc-day-content-hover-bg: hsla(211, 25%, 84%, 0.3);
    --vc-day-content-focus-bg: hsla(211, 25%, 84%, 0.4);
    --vc-day-content-disabled-color: var(--gray-400);
    --vc-content-color: var(--accent-600);
    --vc-highlight-outline-bg: var(--white);
    --vc-highlight-outline-border: var(--accent-700);
    --vc-highlight-outline-content-color: var(--accent-900);
    --vc-highlight-light-bg: var(--accent-200);
    --vc-highlight-light-content-color: var(--accent-900);
    --vc-highlight-solid-bg: var(--accent-600);
    --vc-highlight-solid-content-color: var(--white);
    --vc-dot-bg: var(--accent-600);
    --vc-bar-bg: var(--accent-600);
    /* Calendar nav */
    --vc-nav-hover-bg: var(--gray-200);
    --vc-nav-focus-border: var(--accent-400);
    --vc-nav-title-color: var(--gray-900);
    --vc-nav-item-hover-box-shadow: none;
    --vc-nav-item-active-color: var(--white);
    --vc-nav-item-active-bg: var(--accent-500);
    --vc-nav-item-active-box-shadow: var(--shadow);
    --vc-nav-item-current-color: var(--accent-600);
    /* Calendar day popover */
    --vc-day-popover-container-color: var(--white);
    --vc-day-popover-container-bg: var(--gray-800);
    --vc-day-popover-container-border: var(--gray-700);
    --vc-day-popover-header-color: var(--gray-700);
    /* Popover content */
    --vc-popover-content-color: var(--gray-900);
    --vc-popover-content-bg: var(--gray-50);
    --vc-popover-content-border: var(--gray-300);
    /* Time picker */
    --vc-time-picker-border: var(--gray-400);
    --vc-time-icon-color: var(--gray-600);
    --vc-time-weekday-color: var(--gray-700);
    --vc-time-month-color: var(--accent-600);
    --vc-time-day-color: var(--accent-600);
    --vc-time-year-color: var(--gray-500);
    --vc-am-pm-color: var(--gray-800);
    --vc-am-pm-bg: var(--gray-200);
    --vc-am-pm-button-hover-color: var(--gray-600);
    --vc-am-pm-button-focus-border: var(--accent-400);
    --vc-am-pm-button-active-color: var(--white);
    --vc-am-pm-button-active-bg: var(--accent-600);
    --vc-am-pm-button-active-hover-bg: var(--accent-500);
    --vc-am-pm-button-active-focus-border: var(--accent-400);
    /* Select element */
    --vc-select-color: var(--gray-900);
    --vc-select-bg: var(--gray-200);
    --vc-select-border: var(--gray-200);
    --vc-select-hover-color: var(--gray-600);
    --vc-select-focus-border: var(--accent-400);
    --vc-select-focus-bg: var(--white);
  }
}

.vc-dark {
  &.vc-theme,
  & .vc-theme {
    /* Base */
    --vc-color: var(--white);
    --vc-bg: var(--gray-900);
    --vc-border: var(--gray-700);
    /* Calendar header */
    --vc-header-arrow-color: var(--white);
    --vc-header-arrow-hover-bg: var(--gray-800);
    --vc-header-arrow-focus-border: var(--gray-700);
    --vc-header-title-color: var(--gray-100);
    /* Calendar weekdays */
    --vc-weekday-color: var(--accent-200);
    /* Calendar day & attributes */
    --vc-day-content-hover-bg: hsla(216, 15%, 52%, 0.3);
    --vc-day-content-focus-bg: hsla(216, 15%, 52%, 0.4);
    --vc-day-content-disabled-color: var(--gray-600);
    --vc-content-color: var(--accent-500);
    --vc-highlight-outline-bg: var(--gray-900);
    --vc-highlight-outline-border: var(--accent-200);
    --vc-highlight-outline-content-color: var(--accent-100);
    --vc-highlight-light-bg: var(--accent-800);
    --vc-highlight-light-content-color: var(--accent-100);
    --vc-highlight-solid-bg: var(--accent-500);
    --vc-highlight-solid-content-color: var(--white);
    --vc-dot-bg: var(--accent-500);
    --vc-bar-bg: var(--accent-500);
    /* Calendar nav */
    --vc-nav-hover-bg: var(--gray-900);
    --vc-nav-focus-border: var(--accent-600);
    --vc-nav-title-color: var(--gray-100);
    --vc-nav-item-hover-box-shadow: var(--shadow-inner);
    --vc-nav-item-active-color: var(--white);
    --vc-nav-item-active-bg: var(--accent-500);
    --vc-nav-item-active-box-shadow: none;
    --vc-nav-item-current-color: var(--accent-400);
    /* Calendar day popover */
    --vc-day-popover-container-color: var(--gray-800);
    --vc-day-popover-container-bg: var(--white);
    --vc-day-popover-container-border: var(--gray-100);
    --vc-day-popover-header-color: var(--gray-300);
    /* Popover content */
    --vc-popover-content-color: var(--white);
    --vc-popover-content-bg: var(--gray-800);
    --vc-popover-content-border: var(--gray-700);
    /* Time picker */
    --vc-time-picker-border: var(--gray-700);
    --vc-time-icon-color: var(--gray-400);
    --vc-time-weekday-color: var(--gray-400);
    --vc-time-month-color: var(--accent-400);
    --vc-time-day-color: var(--accent-400);
    --vc-time-year-color: var(--gray-500);
    --vc-am-pm-color: var(--gray-100);
    --vc-am-pm-bg: var(--gray-700);
    --vc-am-pm-button-hover-color: var(--gray-400);
    --vc-am-pm-button-focus-border: var(--accent-500);
    --vc-am-pm-button-active-color: var(--white);
    --vc-am-pm-button-active-bg: var(--accent-500);
    --vc-am-pm-button-active-hover-bg: var(--accent-600);
    --vc-am-pm-button-active-focus-border: var(--accent-500);
    /* Select element */
    --vc-select-color: var(--gray-100);
    --vc-select-bg: var(--gray-700);
    --vc-select-border: var(--gray-700);
    --vc-select-hover-color: var(--gray-700);
    --vc-select-focus-border: var(--accent-500);
    --vc-select-focus-bg: var(--gray-800);
  }
}
