
$paneMinWidth: 200px
$paneWidth: 260px
$paneBgColor: #fafafa
$paneBorder: 1px solid #dbdbdb
$panePadding: 5px

$headerPadding: 5px 5px 5px 5px

$titleFontSize: 1.1rem
$titleFontWeight: 400
$titleTranslateX: 25px
$titleTransition: all .3s ease-in-out

$arrowWidth: 26px
$arrowHeight: 26px
$arrowFontSize: 1.6rem
$arrowTransition: all .3s ease-in-out

$weekdayColor: #8f9aab
$weekdayFontSize: 0.9rem
$weekdayFontWeight: 500
$weekdayPadding: 6px 0

$weeksTranslateX: 20px
$weeksTransition: all .3s ease-in-out

$dayWidth: 14.2857%
$dayNotInMonthOpacity: 0.3
$dayContentWidth: 1.8rem
$dayContentHeight: 1.8rem
$dayContentColor: #333333
$dayContentFontSize: 0.9rem
$dayContentFontWeight: 500
$dayContentBorderRadius: 50%
$dayContentHoverBgColor: rgba(16, 52, 86, 0.25)
$dayContentTransitionTime: 0.18s ease-in-out

$indicatorDiameter: 5px
$indicatorBorderRadius: 50%
$indicatorSpacing: 3px

$backgroundTransitionTime: .13s ease-in-out
$backgroundScaleEnterAnimationTime: 0.14s
$backgroundScaleLeaveAnimationTime: .18s
$backgroundTranslateTransition: .18s ease-in-out

$popoverOffset: 4px
$popoverSlideTranslation: 15px
$popoverSlideTransitionTime: 0.13s ease-in-out

$scaleEnterAnimation: scaleEnter .14s ease-in-out
$scaleLeaveAnimation: scaleLeave .18s ease-in-out
$slideRightEnterAnimation: slideRightEnter .18s ease-in-out
$slideLeftEnterAnimation: slideLeftEnter .18s ease-in-out
$fadeTransition: opacity .2s ease-in-out

// ANIMATION KEY FRAMES

@keyframes scaleEnter
  0%
    transform: scaleX(0.7) scaleY(0.7)
    opacity: 0.3
  90%
    transform: scaleX(1.1) scaleY(1.1)
  95%
    transform: scaleX(0.95) scaleY(0.95)
  100%
    transform: scaleX(1) scaleY(1)
    opacity: 1

@keyframes scaleLeave
  0%
    transform: scaleX(1) scaleY(1)
  60%
    transform: scaleX(1.2) scaleY(1.2)
    opacity: 0.2
  100%
    transform: scaleX(1.15) scaleY(1.15)
    opacity: 0

@keyframes slideRightEnter
  0%
    transform: scaleX(0)
  60%
    transform: scaleX(1.08)
  100%
    transform: scaleX(1)

@keyframes slideLeftEnter
  0%
    transform: scaleX(0)
  60%
    transform: scaleX(1.08)
  100%
    transform: scaleX(1)