.vc-container {
  --white: #ffffff;
  --black: #000000;

  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  &.vc-red {
    --accent-100: #fff5f5;
    --accent-200: #fed7d7;
    --accent-300: #feb2b2;
    --accent-400: #fc8181;
    --accent-500: #f56565;
    --accent-600: #e53e3e;
    --accent-700: #c53030;
    --accent-800: #9b2c2c;
    --accent-900: #742a2a;
  }

  &.vc-orange {
    --accent-100: #fffaf0;
    --accent-200: #feebc8;
    --accent-300: #fbd38d;
    --accent-400: #f6ad55;
    --accent-500: #ed8936;
    --accent-600: #dd6b20;
    --accent-700: #c05621;
    --accent-800: #9c4221;
    --accent-900: #7b341e;
  }

  &.vc-yellow {
    --accent-100: #fffff0;
    --accent-200: #fefcbf;
    --accent-300: #faf089;
    --accent-400: #f6e05e;
    --accent-500: #ecc94b;
    --accent-600: #d69e2e;
    --accent-700: #b7791f;
    --accent-800: #975a16;
    --accent-900: #744210;
  }

  &.vc-green {
    --accent-100: #f0fff4;
    --accent-200: #c6f6d5;
    --accent-300: #9ae6b4;
    --accent-400: #68d391;
    --accent-500: #48bb78;
    --accent-600: #38a169;
    --accent-700: #2f855a;
    --accent-800: #276749;
    --accent-900: #22543d;
  }

  &.vc-teal {
    --accent-100: #e6fffa;
    --accent-200: #b2f5ea;
    --accent-300: #81e6d9;
    --accent-400: #4fd1c5;
    --accent-500: #38b2ac;
    --accent-600: #319795;
    --accent-700: #2c7a7b;
    --accent-800: #285e61;
    --accent-900: #234e52;
  }

  &.vc-blue {
    --accent-100: #ebf8ff;
    --accent-200: #bee3f8;
    --accent-300: #90cdf4;
    --accent-400: #63b3ed;
    --accent-500: #4299e1;
    --accent-600: #3182ce;
    --accent-700: #2b6cb0;
    --accent-800: #2c5282;
    --accent-900: #2a4365;
  }

  &.vc-indigo {
    --accent-100: #ebf4ff;
    --accent-200: #c3dafe;
    --accent-300: #a3bffa;
    --accent-400: #7f9cf5;
    --accent-500: #667eea;
    --accent-600: #5a67d8;
    --accent-700: #4c51bf;
    --accent-800: #434190;
    --accent-900: #3c366b;
  }

  &.vc-purple {
    --accent-100: #faf5ff;
    --accent-200: #e9d8fd;
    --accent-300: #d6bcfa;
    --accent-400: #b794f4;
    --accent-500: #9f7aea;
    --accent-600: #805ad5;
    --accent-700: #6b46c1;
    --accent-800: #553c9a;
    --accent-900: #44337a;
  }

  &.vc-pink {
    --accent-100: #fff5f7;
    --accent-200: #fed7e2;
    --accent-300: #fbb6ce;
    --accent-400: #f687b3;
    --accent-500: #ed64a6;
    --accent-600: #d53f8c;
    --accent-700: #b83280;
    --accent-800: #97266d;
    --accent-900: #702459;
  }

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;

  --leading-snug: 1.375;

  --rounded: 0.25rem;
  --rounded-lg: 0.5rem;
  --rounded-full: 9999px;

  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  --slide-translate: 22px;
  --slide-duration: 0.15s;
  --slide-timing: ease;

  --day-content-transition-time: 0.13s ease-in;
}
