.vc-pane-container {
  width: 100%;
  position: relative;
  &.in-transition {
    overflow: hidden;
  }
}

.vc-pane-layout {
  display: grid;
}

.vc-pane-header-wrapper {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.vc-arrow {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  color: var(--vc-header-arrow-color);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--vc-rounded);
  border-color: transparent;
  z-index: 1;
  &:hover {
    background: var(--vc-header-arrow-hover-bg);
  }
  &:focus {
    box-shadow: var(--vc-focus-ring);
  }
  &.vc-disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

.vc-day-popover-container {
  font-size: var(--vc-text-xs);
  font-weight: var(--vc-font-medium);
}

.vc-day-popover-header {
  font-size: var(--vc-text-xs);
  color: var(--vc-day-popover-header-color);
  font-weight: var(--vc-font-semibold);
  text-align: center;
}
