.vc-pane-container {
  width: 100%;
  position: relative;
  &.in-transition {
    overflow: hidden;
  }
}

.vc-pane-layout {
  display: grid;
}

.vc-pane-header-wrapper {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.vc-arrow {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  color: var(--vc-header-arrow-color);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--rounded);
  border-color: transparent;
  z-index: 1;
  &:hover {
    background: var(--vc-header-arrow-hover-bg);
  }
  &:focus {
    border-color: var(--vc-header-arrow-focus-border);
  }
  &.is-disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

.vc-day-popover-container {
  /* color: var(--vc-day-popover-container-color); */
  /* background-color: var(--vc-day-popover-container-bg); */
  border: 1px solid;
  /* border-color: var(--vc-day-popover-container-border); */
  border-radius: var(--rounded);
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  padding: 4px 8px;
  box-shadow: var(--shadow);
}

.vc-day-popover-header {
  font-size: var(--text-xs);
  color: var(--vc-day-popover-header-color);
  font-weight: var(--font-semibold);
  text-align: center;
}
