.vc-calendar-cell-details {
  background: var(--gray-100);
  border: solid 1px var(--gray-300);
  min-width: 400px;
  padding: 1rem 1.5rem;
  margin: 2.5rem 0 1rem 1rem;
  border-radius: var(--rounded-lg);

  .vc-field {
  }
  .vc-label {
    font-size: var(--text-sm);
    color: var(--gray-600);
    font-weight: var(--font-medium);
    letter-spacing: var(--tracking-wide);
  }
  .vc-input {
    font-size: var(--text-sm);
    display: block;
    margin-top: 0.25rem;
    shadow: var(--shadow-sm);
    border: 1px solid var(--gray-300);
    padding: 0.25rem 0.75rem;
    border-radius: var(--rounded-md);
    width: 100%;
  }
}

/* focus:ring-indigo-500 focus:border-indigo-500  */
